alias c='clear'
alias cd..='cd ..'
alias ll='ls -la'

_myos="$(uname)"

if [ $_myos == 'Linux' ];
then
    alias apt-get="sudo apt-get"
    alias ports='netstat -tulanp'
fi

## a quick way to get out of current directory ##
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'

## create parent directories on demand
alias mkdir='mkdir -pv'

## make mount command output pretty and human readable format
alias mountt='mount |column -t'

## pass options to free ##
alias meminfo='free -m -l -t'

## get top process eating memory
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'

## get top process eating cpu ##
alias pscpu='ps auxf | sort -nr -k 3'
alias pscpu10='ps auxf | sort -nr -k 3 | head -10'

## set some other defaults ##
alias df='df -H'
alias du='du -ch'

## set emacsclient shortcut
alias e='emacsclient -t'

## Create a new set of commands
alias path='echo -e ${PATH//:/\\n}'
alias now='date +"%T"'

## handy short cuts
alias h='history'

## set grep color
alias grep="grep --color=auto"