[user]
name = Rosario Di Somma
user = rosariod
email = rosario.disomma@dreamhost.com

[color]
diff = auto
status = auto
branch = auto
interactive = auto

[core]
excludesfile = ~/.gitignore_global

[alias]
info = remote show origin
ci = commit
st = status
info = remote show origin
undo = reset --soft HEAD~1
graph = log --graph --decorate

[gitreview]
username = mr-rods
